* {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

:root {
  --title-background: #081b31;
  --text-color: #ffff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  background-color: var(--title-background);
}

.title h1 {
  color: var(--text-color);
}

.icon-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.icon {
  height: 220px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: var(--title-background);
  transition-duration: .5s;
}

.score-container {
  font-size: 1rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.scores {
  display: flex;
  row-gap: 10px;
}

.winVideo {
  display: none;
}

.winVideo video {
  height: 400px;
  width: 400px;
}

.video-background {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

audio {
  display: none;
}

.options {
  display: flex;
  gap: 10px;
}

.loseVideo video {
  height: 200px;
  width: 300px;
}

.loseVideo {
  display: none;
  width: 100vw;
  justify-content: flex-end;
}



@media (max-width: 768px) {
  .title h1 {
    font-size: 1rem;
  }

  .icon-container {
    margin-top: 50px;
    gap: 20px;
  }

  .icon img {
    height: 150px;
    width: 150px;
  }

  .icon {
    height: 160px;
    width: 160px;
  }

  .score-container {
    font-size: 11px;
    gap: 1rem;
  }

  .winVideo video {
    height: 200px;
    width: 200px;
  }

  .loseVideo video {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 376px){

  .icon-container{
    margin-top: 30px;
  }

  .title{
    height: 50px;
  }
  
  .icon img {
    height: 120px;
    width: 120px;
  }

  .icon {
    height: 130px;
    width: 130px;
  }

  .score-container {
    margin-top: 40px;
    font-size: 10px;
    gap: 1rem;
  }
}